h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  margin: 0;
  padding: 0;
  padding: 0;
}

body {
  font-family: roboto, sens-serif;
}

.container {
  max-width: 480px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  overflow-y: hidden;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-right: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style: none;
  display: block;
}

.link {
  text-decoration: none;
  display: block;
}

@media (max-width: 767px) {
  .caption {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
  }
}

.header {
  border-bottom: 1px solid gerColor("header-border-color");
}

.header__content {
  display: flex;
}

.logo {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-right: auto;
  text-decoration: none;
  color: #000;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.logo--accent {
  color: #2196f3;
}

.nav__button {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #212121;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .nav__button {
    display: none;
  }
}
.nav__button:hover, .nav__button:focus {
  fill: #2196f3;
}

@media screen and (max-width: 767px) {
  .menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 32px;
    background-color: #fff;
    z-index: 999;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 480px) {
  .menu-container {
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 48px;
    padding-bottom: 48px;
  }
}
.menu-container.is-open {
  transform: translateX(0);
}
.menu-container .nav__button {
  position: absolute;
  top: 16px;
  right: 16px;
}

@media screen and (max-width: 767px) {
  .navigation__list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-bottom: 302px;
  }
}

@media screen and (max-width: 767px) {
  .contact__list {
    display: flex;
    flex-direction: column-reverse;
    gap: 32px;
    padding-bottom: 64px;
  }
}

.navigation__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #212121;
}
.navigation__link--accent {
  color: #2196f3;
}

.contact__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
}
.contact__link--accent {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .contact__icon {
    display: none;
  }
}

.social-network__list {
  display: flex;
  gap: 20px;
}

.social-network__item:not(:last-child) {
  position: relative;
  display: block;
}
.social-network__item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  width: 22px;
  height: 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
  background-image: url("../../../images/Line.svg");
}

.social-network__link {
  display: block;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.hero__container {
  background-image: linear-gradient(180deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0) 100%), url("../../../images/mobile.jpg");
  background-size: 480px 400px;
  -o-object-fit: cover;
     object-fit: cover;
  padding-top: 118px;
  padding-bottom: 118px;
}

@media (min-divice-picel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero__container {
    background-image: linear-gradient(180deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0) 100%), url("../../../images/mobile@2x.jpg");
  }
}
@media (min-divice-picel-ratio: 3), (-webkit-min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
  .hero__container {
    background-image: linear-gradient(180deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0) 100%), url("../../../images/mobile@3x.jpg");
  }
}
.hero__title {
  color: #fff;
  margin-bottom: 30px;
}
@media screen and (max-width: 767px) {
  .hero__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
}

.hero__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
  color: #fff;
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
}

.advantage {
  padding-top: 60px;
  display: flex;
  gap: 30px;
}

.advantage__container {
  max-width: 450px;
  max-height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.advantage__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  text-align: center;
  margin-bottom: 10px;
}

.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (max-width: 767px) {
  .working {
    display: none;
  }
}

.team {
  padding-top: 60px;
  padding-bottom: 60px;
}

.team__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.team__item {
  display: block;
}
@media screen and (max-width: 767px) {
  .team__item {
    max-width: 450px;
  }
}

.team__img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.team__card {
  padding-top: 30px;
  padding-bottom: 24px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.title {
  text-align: center;
  margin-bottom: 10px;
  color: #212121;
}
@media screen and (max-width: 767px) {
  .title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }
}

.team__text {
  text-align: center;
  color: #757575;
  margin-bottom: 16px;
}
@media screen and (max-width: 767px) {
  .team__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }
}

.team-icon__list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.team-icon__link {
  fill: #afb1b8;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-icon__link:hover {
  fill: #fff;
  background-color: #2196f3;
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

.clients__list {
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.clients__link {
  max-width: 210px;
  max-height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) {
  .clients__link {
    height: 92px;
    width: 210px;
  }
}
.clients__link:hover, .clients__link:focus {
  fill: #2196f3;
  border: 1px solid #2196f3;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__logo {
  text-align: center;
  color: #fff;
}

.adress {
  margin-top: 20px;
}

.adress__list {
  display: flex;
  gap: 8px;
  flex-direction: column;
  align-items: center;
}

.adress__link {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.adress__link:hover, .adress__link:focus {
  color: #2196f3;
}

.address__link--white {
  color: #fff;
}

.footer-icon {
  padding-top: 60px;
}

.footer__strong {
  display: block;
  text-align: center;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-icon__list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.footer-icon__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #fff;
  background-color: rgba(255, 255, 255, 0.1);
}
.footer-icon__link:hover, .footer-icon__link:focus {
  background-color: #2196f3;
}

.footer-form__position {
  padding-top: 60px;
}

.footer-form__input {
  width: 100%;
  color: rgba(255, 255, 255, 0.6);
  background-color: #2f303a;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.footer-form__btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  color: #fff;
  background-color: #2196f3;
  fill: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  padding-left: 28px;
  padding-right: 28px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  gap: 10px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}/*# sourceMappingURL=main.css.map */