.advantage {
    padding-top: 60px;
    padding-bottom: 60px;

}


.advantage__container {

    max-width: 450px;
    max-height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;

}

.advantage__title {
    @include advantage-title;
    color: getColor('title-color');
    text-align: center;
    margin-bottom: 10px;

    @media screen and(min-width:768px) {
        text-align: start;
    }
}

.text {
    @include text;
}

.title {
    @include advantage-title;
}

.caption {
    @include caption;
    text-align: center;
    // padding-bottom: 30px;
}

.advantage__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

@media screen and(min-width:768px) {
    .advantage__item {
        width: 354px;
    }

    .advantage {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .advantage__list {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

@media screen and(min-width:120px) {
    .advantage {
        padding-top: 94px;
        padding-bottom: 94px;
    }

    .advantage__item {
        width: 270px;
    }
}