.footer {
    background-color: getColor('footer-bgc-color');
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer__logo {
    text-align: center;
    color: getColor('white-color');
}

.adress {
    margin-top: 20px;
}

.adress__list {
    display: flex;
    gap: 8px;
    flex-direction: column;
    align-items: center;
}

.adress__link {
    color: getColor('footer-link-color');
    @include adress-link;
    transition: color 250ms $cubic-bezier;

    &:hover,
    &:focus {
        color: getColor('accent-color');
    }
}

.address__link--white {
    color: getColor('white-color');
}

.footer-icon {

    // display: block;
    @media screen and(max-width:767px) {
        margin-top: 60px;

    }
}

.footer__strong {
    display: block;
    text-align: center;
    color: getColor('white-color');
    @include footer-strong;
    margin-bottom: 20px;
}

.footer-icon__list {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.footer-icon__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: getColor('white-color');
    background-color: getColor('footer-icon-color');
    transition: background-color 250ms $cubic-bezier;

    &:hover,
    &:focus {
        background-color: getColor('accent-color');
    }
}

.footer-form__position {
    @media screen and(max-width:767px) {
        margin-top: 60px;

    }
}

.footer-form__input {
    width: 100%;
    color: rgba(255, 255, 255, 0.6);
    background-color: getColor('footer-bgc-color');
    @include footer-placeholder;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    outline: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

    &:focus {
        border-color: getColor('accent-color');
    }
}

.footer-form__btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    // align-items: center;
    margin-top: 20px;
    color: getColor('white-color');
    background-color: getColor('accent-color');
    fill: getColor('white-color');
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
    border: none;
    border-radius: 4px;
    padding-left: 28px;
    padding-right: 28px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    gap: 10px;
    cursor: pointer;
    @include button;
}

@media screen and(min-width:768px) {
    .footer__position {
        display: flex;
        flex-wrap: wrap;
        gap: 60px 165px;
        // align-items: center;
        justify-content: center;
        align-items: baseline;

    }

    .footer-form__input {
        width: 450px;
    }

    .footer-form__position,
    .footer-icon {
        padding-top: 0;
    }
}

@media screen and(min-width:1200px) {
    .adress__link {
        gap: 9px;
    }

    .footer__position {
        flex-wrap: nowrap;
        gap: 0;
    }

    .footer-form__position {
        margin-left: auto;
    }

    .footer-form {
        display: flex;
        // align-items: center;
        gap: 12px;
    }

    .footer-form__input {
        width: 358px;
    }

    .footer-icon {
        margin-left: 70px;
    }

    .footer-form__btn {
        margin-top: 0;
    }

    .footer__strong {
        text-align: start;
    }

    .adress__list {
        align-items: flex-start;
    }

    .footer__logo {
        text-align: start;
    }
}