$colors: (
    'text-color': #757575,
    'white-color': #fff,
    'title-color': #212121,
    'accent-color': #2196f3,
    'footer-bgc-color': #2f303a,
    'hero-button-hover': #188ce8,
    'light-grey-color': #f5f4fa,
    'header-logo-color': #000,
    'footer-link-color': #ffffff99,
    'portfolio-border-color': #eeeeee,
    'header-border-color': #ececec,
    'icon-color': #afb1b8,
    'color-working-bgc': rgba(47, 48, 58, 0.8),
    'color-bg-overlay': rgba(33, 150, 243, 0.9),
    'color-backdrop-modal': rgba(0, 0, 0, 0.2),
    'border-modal-icon': rgba(0, 0, 0, 0.1),
    'footer-icon-color': rgba(255, 255, 255, 0.1),
    'footer-form-border': rgba (255, 255, 255, 0.3),
    // 'footer-placeholder-color': rgba (255, 255, 255, 0.6),
);
$cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);

@function getColor($key) {
    @return map-get($colors, $key);
}

.list {
    list-style: none;
    // display: block;
}

.link {
    text-decoration: none;
    display: block;
    // color: currentColor;
}





@mixin logo-font {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.03em;

    @media screen and(min-width:1200px) {
        font-size: 26px;
        line-height: 1.19;
    }
}

@mixin nav-text {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;

    @media screen and(min-width:768px) {
        font-size: 14px;
        line-height: 1.14;
    }
}


@mixin contact-text {

    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;

    @media screen and(min-width:768px) {
        font-size: 12px;
    }

    @media screen and(min-width:1200px) {
        font-size: 14px;
        line-height: 1.14;
    }
}

@mixin contact-text--accent {
    @media screen and(min-width:768px) {
        @include contact-text;
    }

    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
}

@mixin social-network {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
}

@mixin hero-title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    @media screen and(min-width:1200px) {
        font-size: 44px;
        line-height: 1.36;
    }
}

@mixin button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
}

@mixin advantage-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    // text-transform: uppercase;
}

@mixin text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

@mixin caption {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;

    @media (min-width:768px) {
        font-size: 36px;
        line-height: 1.17;
    }

}


@mixin team-title {

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;


}

@mixin team-text {
    @media screen and (max-width:767px) {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.19;
        letter-spacing: 0.03em;
    }
}

@mixin adress-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

@mixin footer-strong {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

@mixin footer-placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
}

@mixin form-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.03em;

    @media screen and(min-width:1200px) {
        line-height: 1.15;
    }
}

@mixin label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
}

@mixin textarea {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;

    @media screen and(min-width:1200px) {
        line-height: 1.17;
    }
}

@mixin checkbox {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.03em;

    @media screen and(min-width:1200px) {
        font-size: 14px;
        line-height: 1.71;
    }
}

@mixin portfolio-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
}

@mixin text-overlay {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
}

@mixin card-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2.00;
    letter-spacing: 0.06em;
    text-transform: none;

}

@mixin card-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}


.title {
    text-align: center;
    margin-bottom: 10px;
    color: getColor('title-color');
    @include advantage-title;
}

.text {
    color: getColor('text-color');
    @include text;
}

.caption {
    @include caption;
    text-align: center;
    // padding-bottom: 30px;
}